{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                <article class="blog-detail">
                    <header>
                        {% if post.title is not empty %}
                            <h1 class="blog-detail-title">{{ post.title }}</h1>
                        {% endif %}
                        <div class="media author mb-4">
                            {% if post.user.urlAvatar is not empty %}
                                <img src="{{ asset(post.user.urlAvatar)|imagine_filter('50x50') }}"
                                     class="mr-3 author-photo rounded-circle"
                                     alt="{{ post.user.fullname }}">
                            {% endif %}

                            <div class="media-body">
                                <h5 class="mt-2 mb-1 author-fullname">{{ post.user.fullname }}</h5>
                                {% if post.created is not empty %}
                                    <div class="author-date-post">Published in {{ post.published|date("Y/m/d") }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </header>

                    <div class="text">
                        {% if post.text is not empty %}
                            {{ post.text|raw }}
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
